* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
  font-family: HelveticaNeue;
}
@font-face {
  font-family: HelveticaNeue;

  src: url(./HelveticaNeue.ttc);
}
a {
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  gap: 5rem;
  height: 100vh;
}
.home-logo {
  width: 112px;
  height: 18px;
}
.home-photo {
  max-width: 100%;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 4rem;
  left: calc(50% - 387px / 2 - 0.5px);
}
.button div {
  padding: 1.8rem 6rem;
  background: #62a1eb;
  border-radius: 0.8rem;
  text-align: center;
  cursor: pointer;
}

.button div span {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #ffffff;
  font-variant-caps: all-petite-caps;
}

.home-photo-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .home {
    padding: 2rem;
  }
  .button div span {
    font-size: 2.4rem;
  }
  .button div {
    padding: 1.8rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .home {
    padding: 10rem 2rem 2rem;
  }
  .home-photo {
    display: none;
  }
  .home-photo-mobile {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .button {
    margin-top: auto;
  }
  .home {
    padding: 16rem 2rem 2rem;
  }
}
